<div>
  <button class="btn info">
    <a [routerLink]="['/createAuthor']">Добавить</a>
  </button>
</div>
<table>
  <thead>
    <tr>
      <th colspan="2">Авторы</th>
    </tr>
    <tr>
      <td>Нр.</td>
      <td>Имя</td>
      <td>Действия</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let author of authors; let idx = index">
      <td>{{ idx + 1 }}</td>
      <td>{{ author.name }}</td>
      <td>
        <a class="btn info" [routerLink]="['/editAuthor', author.authorId]"
          >Редактировать</a
        >
        <button class="btn info" (click)="deleteAuthor(author.authorId)">
          Удалить
        </button>
      </td>
    </tr>
  </tbody>
</table>
