<div class="set-padding">
  <div class="example-button-row">
    <a mat-stroked-button color="primary" [routerLink]="['/createAuthor']"
      >Добавить</a
    >
  </div>
  <br />
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">{{ element.authorId }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Имя</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Действия</th>
      <td class="example-button-row" mat-cell *matCellDef="let element">
        <a
          mat-stroked-button
          color="primary"
          [routerLink]="['/editAuthor', element.authorId]"
          >Редактировать</a
        >

        <button
          mat-stroked-button
          color="warn"
          (click)="deleteAuthor(element.authorId)"
        >
          Удалить
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
