<div class="Pad">
  <h3>Изменение адреса</h3>
  <br />

  <form
    class="example-form"
    [formGroup]="addressForm"
    (ngSubmit)="updateAddress()"
  >
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Название</mat-label>
      <br />
      <input
        type="text"
        matInput
        formControlName="name"
        [(ngModel)]="updateAddressModel.name"
        placeholder="Название"
      />
      <mat-error
        *ngIf="
          addressForm.controls['name'].hasError('minlength') &&
          !addressForm.controls['name'].hasError('required')
        "
      >
        Название не может быть меньше 5 симболов
      </mat-error>
      <mat-error *ngIf="addressForm.controls['name'].hasError('required')">
        Не указано название
      </mat-error>
    </mat-form-field>
    <br />
    <br />
    <div class="example-button-row">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="addressForm.invalid"
      >
        Обновить
      </button>
    </div>
  </form>

  <br />
  <p>
    <a [routerLink]="['/address']">Назад к списку адресов</a>
  </p>

  <p>
    <a routerLink="/">На домашнюю страницу</a>
  </p>
</div>
