<div class="A">
  <h1>Рестораны Джейми Оливера в России</h1>

  <div>
    Джейми Оливер еще с раннего детства был одурманен страстью к итальянскому
    стилю жизни, к семейным традициям, поэтому и решил создать Jamie's Italian.
    Главное, что итальянцев не беспокоит - это состояние их финансового
    положения, они всегда готовы платить деньги за хорошую и вкусную еду. Черта,
    которая больше всего нравилась Оливеру, это то, что итальянцы, кем бы они не
    являлись, дизайнерами, богатеями, среднестатистическими жителями страны, они
    всегда сохраняют удивительное чувство преемственности, а именно традиции и
    любовь к природе, деревне.
  </div>
  <br />
  <div>
    На сегодняшний день уже работают два ресторана Джейми Оливера в России:
    самый первый был открыт в городе Санкт-Петербург, а в 2015 году появился и в
    столице нашей страны. Подробнее об этих заведениях можно узнать выбрав
    необходимый из предложенных ниже.
  </div>
</div>

<div>
  <img src="https://jaymi-oliver.ru/images/spb.jpg" alt="not found" />
  <img src="https://jaymi-oliver.ru/images/msk.jpg" alt="not found" />
</div>
