<div class="Pad">
  <h3>Изменение категории блюда</h3>
  <br />
  <form class="example-form" [formGroup]="dishForm" (ngSubmit)="updateDish()">
    <mat-form-field appearance="fill" style="width: 505px">
      <mat-label>Категория</mat-label>
      <br />
      <mat-select
        formControlName="category"
        [(ngModel)]="updateDishModel.category"
        placeholder="Категория"
      >
        <mat-option
          *ngFor="let dishCategory of dishCategories"
          [value]="dishCategory"
        >
          {{ dishCategory }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="dishForm.controls['category'].hasError('required')">
        Не указана категория блюда
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Картинка</mat-label>
      <br />
      <input
        type="text"
        matInput
        formControlName="imageUrl"
        [(ngModel)]="updateDishModel.imageUrl"
        placeholder="Имя"
      />
      <mat-error *ngIf="dishForm.controls['imageUrl'].hasError('required')">
        Не указан УРЛ картинки
      </mat-error>
    </mat-form-field>
    <br /><br />
    <div class="example-button-row">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="dishForm.invalid"
      >
        Обновить
      </button>
    </div>
  </form>

  <br />

  <p>
    <a [routerLink]="['/dish']">Назад к списку блюд</a>
  </p>

  <p>
    <a routerLink="/">На домашнюю страницу</a>
  </p>
</div>
