<div>
  <button class="btn info">
    <a [routerLink]="['/createEpisode']">Добавить</a>
  </button>
</div>
<table>
  <thead>
    <tr>
      <th colspan="3">Эпизоды</th>
    </tr>
    <tr>
      <td>Ид</td>
      <td>Название</td>
      <td>Кулинарный канал</td>
      <td>Действия</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let episode of episodes; let idx = index">
      <td>{{ idx + 1 }}</td>
      <td>{{ episode.name }}</td>
      <td>{{ episode.culinaryChannelName }}</td>
      <td>
        <a class="btn info" [routerLink]="['/editEpisode', episode.episodeId]"
          >Редактировать</a
        >
        <button class="btn info" (click)="deleteEpisode(episode.episodeId)">
          Удалить
        </button>
      </td>
    </tr>
  </tbody>
</table>
<p>
  <a routerLink="/">На домашнюю страницу</a>
</p>
