<mat-toolbar color="primary" class="mat-elevation-z8">
  <span><mat-icon>soup_kitchen</mat-icon> </span>

  <span> <a mat-button [routerLink]="['/']"> ГЛАВНАЯ</a></span>
  <div class="spacer"></div>

  <span><a mat-button [routerLink]="['/recipeLibrary']">РЕЦЕПТЫ</a></span>

  <button mat-button [matMenuTriggerFor]="menu">АДМИН МЕНЮ</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item><a [routerLink]="['/address']">Адреса</a></button>
    <button mat-menu-item><a [routerLink]="['/author']">Авторы</a></button>
    <button mat-menu-item>
      <a [routerLink]="['/recipe']">Рецепты</a>
    </button>
    <button mat-menu-item><a [routerLink]="['/book']">Книги</a></button>
    <button mat-menu-item>
      <a [routerLink]="['/cookingStage']">Этапы приготовления</a>
    </button>
    <button mat-menu-item>
      <a [routerLink]="['/culinaryChannel']">Кулинарные каналы</a>
    </button>
    <button mat-menu-item>
      <a [routerLink]="['/dish']">Блюда</a>
    </button>
    <button mat-menu-item>
      <a [routerLink]="['/episode']">Эпизоды</a>
    </button>

    <button mat-menu-item>
      <a [routerLink]="['/telephone']">Телефоны</a>
    </button>
    <button mat-menu-item>
      <a [routerLink]="['/restaurant']">Рестораны</a>
    </button>
  </mat-menu>

  <span><a mat-button [routerLink]="['/bookLibrary']">КНИГИ</a></span>

  <span><a mat-button [routerLink]="['/restaurantLibrary']">РЕСТОРАНЫ</a></span>

  <span *ngIf="!isAuthenticated()">
    <a mat-flat-button [routerLink]="['/login']">Вход</a>
  </span>

  <span *ngIf="isAuthenticated()">
    <a mat-flat-button (click)="logout()" [routerLink]="['/login']"> Выход </a>
  </span>
</mat-toolbar>
