<mat-toolbar color="accent" class="mat-elevation-z8">
  <span><mat-icon>soup_kitchen</mat-icon> </span>

  <span> <a mat-button [routerLink]="['/']"> ГЛАВНАЯ</a></span>
  <div class="spacer"></div>

  <button id="button" mat-button [matMenuTriggerFor]="menu" *ngIf="isAdmin()">
    АДМИН МЕНЮ
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/author']">Авторы</button>
    <button mat-menu-item [routerLink]="['/address']">Адреса</button>
    <button mat-menu-item [routerLink]="['/dish']">Блюда</button>
    <button mat-menu-item [routerLink]="['/book']">Книги</button>
    <button mat-menu-item [routerLink]="['/recipe']">Рецепты</button>
    <button mat-menu-item [routerLink]="['/restaurant']">Рестораны</button>
    <button mat-menu-item [routerLink]="['/telephone']">Телефоны</button>
    <button mat-menu-item [routerLink]="['/cookingStage']">
      Этапы приготовления
    </button>
  </mat-menu>

  <span><a mat-button [routerLink]="['/recipeLibrary']">РЕЦЕПТЫ</a></span>

  <span><a mat-button [routerLink]="['/bookLibrary']">КНИГИ</a></span>

  <span><a mat-button [routerLink]="['/restaurantLibrary']">РЕСТОРАНЫ</a></span>

  <span *ngIf="!isAuthenticated()">
    <a id="a" mat-flat-button [routerLink]="['/login']">Вход</a>
  </span>

  <span *ngIf="isAuthenticated()">
    <a id="a" mat-flat-button (click)="logout()" [routerLink]="['/login']">
      Выход
    </a>
  </span>
</mat-toolbar>
