<mat-toolbar color="accent" class="mat-elevation-z8">
  <span><mat-icon>soup_kitchen</mat-icon> </span>

  <span> <a mat-button [routerLink]="['/']"> ГЛАВНАЯ</a></span>
  <div class="spacer"></div>

  <button id="button" mat-button [matMenuTriggerFor]="menu" *ngIf="isAdmin()">
    АДМИН МЕНЮ
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <a id="a" [routerLink]="['/address']">Адреса</a>
    </button>
    <button mat-menu-item>
      <a id="a" [routerLink]="['/author']">Авторы</a>
    </button>
    <button mat-menu-item>
      <a id="a" [routerLink]="['/recipe']">Рецепты</a>
    </button>
    <button mat-menu-item><a id="a" [routerLink]="['/book']">Книги</a></button>
    <button mat-menu-item>
      <a id="a" [routerLink]="['/cookingStage']">Этапы приготовления</a>
    </button>

    <!--   <button mat-menu-item>
      <a id="a" [routerLink]="['/culinaryChannel']">Кулинарные каналы</a>
    </button>
-->
    <button mat-menu-item>
      <a id="a" [routerLink]="['/dish']">Блюда</a>
    </button>

    <!--    <button mat-menu-item>
      <a id="a" [routerLink]="['/episode']">Эпизоды</a>
    </button>
-->
    <button mat-menu-item>
      <a id="a" [routerLink]="['/telephone']">Телефоны</a>
    </button>
    <button mat-menu-item>
      <a id="a" [routerLink]="['/restaurant']">Рестораны</a>
    </button>
    <button mat-menu-item>
      <a id="a" [routerLink]="['/cernovic']">cernovic</a>
    </button>
  </mat-menu>

  <span><a mat-button [routerLink]="['/recipeLibrary']">РЕЦЕПТЫ</a></span>

  <span><a mat-button [routerLink]="['/bookLibrary']">КНИГИ</a></span>

  <span><a mat-button [routerLink]="['/restaurantLibrary']">РЕСТОРАНЫ</a></span>

  <!--  <span
    ><a mat-button [routerLink]="['/episodesLibrary']"
      >КУЛИНАРНЫЙ КАНАЛ</a
    ></span
  >-->

  <span *ngIf="!isAuthenticated()">
    <a id="a" mat-flat-button [routerLink]="['/login']">Вход</a>
  </span>

  <span *ngIf="isAuthenticated()">
    <a id="a" mat-flat-button (click)="logout()" [routerLink]="['/login']">
      Выход
    </a>
  </span>
</mat-toolbar>
