<div class="Pad">
  <h2>Джейми Оливер - видео, книги, рецепты, рестораны</h2>
  <br />
  <div>
    <img
      src="https://jaymi-oliver.ru/images/oliver3.jpg"
      width="520"
      height="400"
      alt="not found"
      style="float: left; margin: 0px 15px 0px 0px"
    />
    <!--
  <img
    src="https://st2.depositphotos.com/1177973/6257/i/600/depositphotos_62572171-stock-photo-blackboard-menu-on-rustic-wooden.jpg"
    width="700px"
    height="400"
    alt="cartinca"
    alt="not found"
  />
  
  --></div>

  <div class="A">
    Незаурядный и очень талантливый шеф-повар из Великобритании Джейми Оливер
    приступил к долгому и интересному пути познания искусства приготовления еды
    еще с восьмилетнего возраста. С тех самых пор он сумел отвоевать внимание и
    любовь миллионов не только профессионалов, но и простых людей, желающих
    научиться готовить.
  </div>
  <br />

  <div class="A">
    Помимо выпуска передач и многочисленных отличных книг, Джейми Оливер ведет
    работу, направленную на благотворительность. Благодаря ему очень многие,
    невзирая на свое скромное финансовое положение, смогли научиться искусству
    шеф-повара. Именно эта благотворительная программа дала имя его сети
    ресторанов «Fifteen», которые расположены не только в столице
    Великобритании, но и в Мельбурне, Корнуолле и Амстердаме.
  </div>
  <br />
  <div class="A">
    Джейми Оливер – один из тех, кто действительно пытается поправить здоровье
    нации, путем пропаганды здорового питания и запрета нездоровой пищи в
    школах. Именно его признали выдающимся деятелем на телеканале 4 News, и
    именно на его программу здорового школьного питания было выделено несколько
    миллионов фунтов. Кроме Европы, он также известен и в США. Так Джейми Оливер
    создал специальный проект по борьбе с ожирением, что очень актуально для
    населения Штатов. И, наконец, он открыл собственный ресторан в Оксфорде под
    названием «Jamie’s Italian».
  </div>
  <br />
  <div class="A">
    Джейми Оливер не просто повар. Он выдающаяся, яркая личность, способная
    научить приготовлению вкусной еды и привлечь внимание не только рецептами,
    но и своей харизмой и a остроумием.
  </div>

  <div class="example-button-row">
    <a mat-stroked-button color="primary" [routerLink]="['/createAddress']"
      >Добавить</a
    >
  </div>
</div>
