<h1><i>Джейми Оливер - видео, книги, рецепты, рестораны</i></h1>

<div class="A">
  Незаурядный и очень талантливый шеф-повар из Великобритании Джейми Оливер
  приступил к долгому и интересному пути познания искусства приготовления еды
  еще с восьмилетнего возраста. С тех самых пор он сумел отвоевать внимание и
  любовь миллионов не только профессионалов, но и простых людей, желающих
  научиться готовить.
</div>
<div></div>
<div></div>

<div class="A">
  Помимо выпуска передач и многочисленных отличных книг, Джейми Оливер ведет
  работу, направленную на благотворительность. Благодаря ему очень многие,
  невзирая на свое скромное финансовое положение, смогли научиться искусству
  шеф-повара. Именно эта благотворительная программа дала имя его сети
  ресторанов «Fifteen», которые расположены не только в столице Великобритании,
  но и в Мельбурне, Корнуолле и Амстердаме.
</div>
<div class="A">
  Джейми Оливер – один из тех, кто действительно пытается поправить здоровье
  нации, путем пропаганды здорового питания и запрета нездоровой пищи в школах.
  Именно его признали выдающимся деятелем на телеканале 4 News, и именно на его
  программу здорового школьного питания было выделено несколько миллионов
  фунтов. Кроме Европы, он также известен и в США. Так Джейми Оливер создал
  специальный проект по борьбе с ожирением, что очень актуально для населения
  Штатов. И, наконец, он открыл собственный ресторан в Оксфорде под названием
  «Jamie’s Italian».
</div>
<div class="A">
  Джейми Оливер не просто повар. Он выдающаяся, яркая личность, способная
  научить приготовлению вкусной еды и привлечь внимание не только рецептами, но
  и своей харизмой и остроумием.
</div>
