<div class="Pad">
  <h3>Изменение книги</h3>
  <br />
  <form class="example-form" [formGroup]="bookForm" (ngSubmit)="updateBook()">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Название</mat-label>
      <br />
      <input
        type="text"
        matInput
        formControlName="name"
        [(ngModel)]="updateBookModel.name"
        placeholder="Название"
      />
      <mat-error *ngIf="bookForm.controls['name'].hasError('required')">
        Не указано название книги</mat-error
      >
      <mat-error
        *ngIf="
          bookForm.controls['name'].hasError('minlength') &&
          !bookForm.controls['name'].hasError('required')
        "
      >
        Название книги не может быть меньше 5 симболов
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label> Год создания</mat-label>
      <br />
      <input
        type="number"
        matInput
        formControlName="creationYear"
        [(ngModel)]="updateBookModel.creationYear"
        placeholder="
год создания"
      />

      <mat-error
        *ngIf="
          bookForm.controls['creationYear'].hasError('min') &&
          !bookForm.controls['creationYear'].hasError('required')
        "
      >
        Год создания не может быть менише чем 1990 г.
      </mat-error>
      <mat-error *ngIf="bookForm.controls['creationYear'].hasError('required')">
        Не указан год создания книги
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Описание</mat-label>
      <br />
      <input
        type="text"
        matInput
        formControlName="description"
        [(ngModel)]="updateBookModel.description"
        placeholder="Описание"
      />
      <mat-error *ngIf="bookForm.controls['description'].hasError('required')">
        Не указано описание
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 497px">
      <mat-label>Автор</mat-label>
      <br />
      <mat-select
        formControlName="authorId"
        [(ngModel)]="updateBookModel.authorId"
        placeholder="Автор"
      >
        <mat-option *ngFor="let author of authors" [value]="author.authorId">
          {{ author.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="bookForm.controls['authorId'].hasError('required')">
        Не указан автор книги
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Картинка</mat-label>
      <br />
      <input
        type="text"
        matInput
        formControlName="imageUrl"
        [(ngModel)]="updateBookModel.imageUrl"
        placeholder="Имя"
      />
      <mat-error *ngIf="bookForm.controls['imageUrl'].hasError('required')">
        Не указан УРЛ картинки
      </mat-error>
    </mat-form-field>
    <br /><br />
    <div class="example-button-row">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="bookForm.invalid"
      >
        Обновить
      </button>
    </div>
  </form>

  <br />

  <p>
    <a [routerLink]="['/book']">Назад к списку книг</a>
  </p>

  <p>
    <a routerLink="/">На домашнюю страницу</a>
  </p>
</div>
