.block {
  background: url("../assets/images/wallpaper1.png") round;
  border-radius: 15px;
  box-shadow: 0 0 20px cadetblue;
}

* {
  font-family: Bradley Hand, cursive;

  text-align: justify;
  font-size: large;
}
