.block {
  background: url("../assets/images/image19.jpg") 0 0/196px 500px repeat-y;

  background-color: #c3fdb8;
  border-radius: 15px;
  max-height: max-content;
  min-height: 1000px;
}

* {
  font-family: Bradley Hand, cursive;

  text-align: justify;
  font-size: large;
}
