.block {
  background: url("../assets/images/image19.jpg") 0 0/200px 511px repeat-y;

  background-color: #c3fdb8;
  border-radius: 15px;
  /* box-shadow: 0 0 20px cadetblue;*/
}

* {
  font-family: Bradley Hand, cursive;

  text-align: justify;
  font-size: large;
}

/*url("../assets/images/image19.jpg") no-repeat,*/
