<h1>Таблица рецептов</h1>
<div>
  <button class="btn info">
    <a [routerLink]="['/createRecipe']">Добавить</a>
  </button>
</div>
<table>
  <thead>
    <tr>
      <th colspan="6">Рецепты</th>
    </tr>
    <tr>
      <td>Ид</td>
      <td>Название</td>
      <td>Количество порций</td>
      <td>Время приготовления</td>
      <td>Уровень сложности</td>
      <td>Содержание</td>
      <td>Категория блюда</td>
      <td>Автор</td>
      <td>Название книги</td>
      <td>Действия</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let recipe of recipes; let idx = index">
      <td class="text-align-center">{{ idx + 1 }}</td>
      <td>{{ recipe.name }}</td>
      <td class="text-align-center">{{ recipe.servingsNumber }}</td>
      <td>
        {{ recipe.cookingTime | date: "HH" }} час
        {{ recipe.cookingTime | date: "mm" }} мин.
      </td>
      <td class="text-align-center">{{ recipe.difficultyLevel }}</td>
      <td class="text-align-justify">{{ recipe.content }}</td>
      <td class="text-align-center">{{ recipe.dishCategory }}</td>
      <td class="text-align-center">{{ recipe.authorName }}</td>
      <td class="text-align-center">{{ recipe.bookName }}</td>
      <td>
        <li *ngFor="let recipeIngredient of recipe.ingredients">
          <p>{{ recipeIngredient.name }}</p>
        </li>
      </td>

      <td>
        <a class="btn info" [routerLink]="['/editRecipe', recipe.recipeId]"
          >Редактировать</a
        >
        <button class="btn info" (click)="deleteRecipe(recipe.recipeId)">
          Удалить
        </button>
      </td>
    </tr>
  </tbody>
</table>
