<br />
<h3>Таблица рецептов</h3>
<div class="content">
  <div class="example-button-row">
    <a mat-stroked-button color="primary" [routerLink]="['/createRecipe']"
      >Добавить</a
    >
  </div>
  <br />
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">{{ element.recipeId }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Название</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="servingsNumber">
      <th mat-header-cell *matHeaderCellDef>Количество порций</th>
      <td mat-cell *matCellDef="let element">{{ element.servingsNumber }}</td>
    </ng-container>

    <ng-container matColumnDef="cookingTime">
      <th mat-header-cell *matHeaderCellDef>Время приготовления</th>
      <td mat-cell *matCellDef="let element">
        {{ element.cookingTime | date: "HH" }} час
        {{ element.cookingTime | date: "mm" }} мин.
      </td>
    </ng-container>

    <ng-container matColumnDef="difficultyLevel">
      <th mat-header-cell *matHeaderCellDef>Уровень сложности</th>
      <td mat-cell *matCellDef="let element">{{ element.difficultyLevel }}</td>
    </ng-container>

    <ng-container matColumnDef="dishCategory">
      <th mat-header-cell *matHeaderCellDef>Категория блюда</th>
      <td mat-cell *matCellDef="let element">{{ element.dishCategory }}</td>
    </ng-container>

    <ng-container matColumnDef="authorName">
      <th mat-header-cell *matHeaderCellDef>Автор</th>
      <td mat-cell *matCellDef="let element">{{ element.authorName }}</td>
    </ng-container>

    <ng-container matColumnDef="bookName">
      <th mat-header-cell *matHeaderCellDef>Название книги</th>
      <td mat-cell *matCellDef="let element">{{ element.bookName }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Действия</th>
      <td class="example-button-row" mat-cell *matCellDef="let element">
        <a
          mat-stroked-button
          color="primary"
          [routerLink]="['/editRecipe', element.recipeId]"
          >Редактировать</a
        >

        <button
          mat-stroked-button
          color="warn"
          (click)="deleteRecipe(element.recipeId)"
        >
          Удалить
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
