<h3>Adding a new dish</h3>

<div>
  <label>Category</label>

  <select [(ngModel)]="createDishModel.category" class="form-control">
    <option *ngFor="let dishCategory of dishCategories">
      {{ dishCategory }}
    </option>
  </select>
</div>
<div>
  <label>Image</label>
  <input type="text" [(ngModel)]="createDishModel.imageUrl" />
</div>

<div>
  <button class="btn info" (click)="createDish()">Create</button>
</div>

<p>
  <a [routerLink]="['/dish']">Back to dishes's list</a>
</p>

<p>
  <a routerLink="/">Home</a>
</p>
