<div>
  <button class="btn info"><a [routerLink]="['/createAddress']">Add</a></button>
</div>
<table>
  <thead>
    <tr>
      <td>Id</td>
      <td>Name</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let address of addresses">
      <td>{{ address.id }}</td>
      <td>{{ address.name }}</td>
      <td>
        <a class="btn info" [routerLink]="['/editAddress', address.id]">Edit</a>
        <button class="btn info" (click)="deleteAddress(address.id)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
