<div>
  <button class="btn info">
    <a [routerLink]="['/createAddress']">Добавить</a>
  </button>
</div>
<table>
  <thead>
    <tr>
      <th colspan="2">Адреса</th>
    </tr>
    <tr>
      <td>Нр.</td>
      <td>Название</td>
      <td>Действия</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let address of addresses; let idx = index">
      <td>{{ idx + 1 }}</td>
      <td>{{ address.name }}</td>
      <td>
        <a class="btn info" [routerLink]="['/editAddress', address.addressId]"
          >Редактировать</a
        >
        <button class="btn info" (click)="deleteAddress(address.addressId)">
          Удалить
        </button>
      </td>
    </tr>
  </tbody>
</table>
