.text-align-size {
  text-align: left;
  font-size: medium;
  font-weight: bold;
}

.C {
  padding: 50px 100px 50px 250px;
}

.example-card {
  width: 400px;
  margin-bottom: 8px;
  margin: 20px;
}

.text-display {
  height: 85px;
  overflow-y: hidden;
  text-overflow: ellipsis; /* Добавляем многоточие */
}

mat-card {
  background-color: white;
  border: dotted 2px greenyellow;
}

a {
  text-decoration: none;
  color: black;
}

img {
  border-radius: 3px;
}

a:hover {
  color: green;
}

#a {
  text-decoration: none;
  color: green;
}

#a:hover {
  color: #ff4081;
}
