<div class="C">
  <h2 class="B">Книги Джейми Оливера</h2>

  <div>
    Джейми Оливер является очень талантливым человеком. Он показал себя не
    только как гениальный повар, телеведущий, ресторатор, но и как автор
    бестселлеров в мире кулинарных книг. Его литературные издания были
    переведены более чем на тридцать языков. В 2006 году он даже получил награду
    за выдающиеся достижения в литературе на British Book Awards.
  </div>
  <br />
  <img
    src="https://jaymi-oliver.ru/images/oliver7.jpg"
    alt=""
    style="float: right; margin: 0px 0px 0px 15px"
  />
  <!--style="float: left; margin: 0px 15px 0px 0px"-->
  <div>
    НаписаКниги Джейми Оливеранная в 2010 году книга «Обеды за 30 минут от
    Джейми» уже за первый дни продаж разошлась миллионным тиражом в
    Великобритании и стала самым быстро продаваемым изданием. И уже спустя три
    года благодоря своему новому труду «Экономим с Джейми» Оливер в очередной
    раз возглавил литературные чарты.
  </div>
  <br />
  <div>
    После своей книги «Голый повар» (The Naked Chef) он начал свое первое
    одноименно шоу на телевидении, которое с необычайным успехом шло на канале
    «Би-би-си». Вслед за книгами «Возвращение голого повара» и «Счастливые дни с
    голым поваром» сняли второй и третий сезон кулинарного сериала.
  </div>
  <br />

  <div>
    Шестая по счету книга Джейми Оливера «Моя Италия» сразу же стала номером
    один в Великобритании по продажам большего числа копий на неделе перед
    Рождеством среди ненаучной литературы. Книга была также номинирована на
    ‘Премию Года’.
  </div>
  <br />
  <div>
    Следующее его творение, изданное в 2006 году «Кухня с Джейми» также стала
    крупным бестселлером. Вся прибыль от ее продажи пошла в благотворительный
    фонд «Пятнадцать» основанный самим Джейми, чтобы помочь большему количеству
    молодых людей начать карьеру в ресторанном бизнесе.
  </div>
  <br />
  <div>
    В своей книге " Джейми дома" он отразил свои успех в выращивании фруктов,
    овощей и зелени на его участке, чем Джейми занялся еще в 2004 году. Этот
    труд отражал его новую любовь к садоводству. Этим изданием он хотел
    вдохновить людей содержать свой личный сад для того чтобы выращивать на нем
    свою собственную здоровую пищу.
  </div>
  <br />
  <div>
    Четырнадцатая книга Джейми Оливера «15 минут на обед» вышла в свет осенью
    2012 года. Книга сразу же стала бестселлером и продолжила свою жизнь в новом
    кулинарном шоу «Jamie & Jimmy’s Food Fight Club», в котором Джейми
    участвовал вместе со своим другом детства Джимми Доэрти.
  </div>
  <br />
  <div>
    В 2014 году Джейми Оливер опубликовал свою шестнадцатую книгу «Комфортная
    еда Джимми» (Jamie's Comfort Food).
  </div>
  <br />
  <div>
    И конечно же на этом литературная жизнь «голого повара» не закончится. Книги
    Джейми Оливера еще будут радовать своего читателя.
  </div>
  <br />

  <div class="A" *ngFor="let book of books; let idx = index">
    <h3>
      <a [routerLink]="['/book', book.bookId]">
        <p>{{ book.name }}</p>
      </a>
    </h3>
    <p>{{ book.description }}</p>
  </div>
</div>
