.text-align-size {
  text-align: left;
  font-size: medium;
  font-weight: bold;
}

.C {
  padding: 50px 150px 50px 150px;
}

.example-card {
  width: 400px;
  margin-bottom: 8px;
  margin: 15px;
}

.text-display {
  height: 80px;
  overflow-y: hidden;
  text-overflow: ellipsis; /* Добавляем многоточие */
}

mat-card {
  background-color: #dadbdd;
}

a {
  text-decoration: none;
  color: black;
}
