<div class="Pad" style="width: 900px">
  <div style="font-size: 14px">
    <span><a id="a" [routerLink]="['']">Главная >> </a> </span>
    <span>
      <a id="a" [routerLink]="['/bookLibrary']">Книги >> </a>
    </span>
    <span>
      {{ bookDetailModel.name }}
    </span>
  </div>

  <br />
  <h2 style="text-align: right">{{ bookDetailModel.name }}</h2>
  <br />
  <img
    id="img"
    src="{{ bookDetailModel.imageUrl }}"
    alt=""
    style="float: left; margin: 0px 15px 0px 0px"
  />
  <p><b class="C">Автор:</b> Джейми Оливер</p>
  <p><b class="C">Название:</b> {{ bookDetailModel.name }}</p>
  <p><b class="C">Год:</b> {{ bookDetailModel.creationYear }}</p>
  <p><b class="C">Перевод:</b> отсутствует</p>
  <hr />

  <p class="line-height">{{ bookDetailModel.description }}</p>
  <br />
  <div class="block">
    <h3>Джейми Оливер</h3>
    <p>
      <img
        src="https://jaymi-oliver.ru/media/k2/users/2.jpg"
        alt=""
        style="float: left; margin: 0px 15px 0px 0px"
      />
      Английский повар, ресторатор, телеведущий, автор известных книг по
      кулинарии, также известен как «Голый повар»
    </p>
    <p>Сайт:<a href="https://localhost:44312/"> jaymi-oliver.ru</a></p>
  </div>
</div>
