.C {
  color: green;
}

#img {
  border: 3px solid green; /* Ширина, вид и цвет рамки */
}

.line-height {
  line-height: 45px;
}

.Pad {
  padding: 50px 100px 50px 250px;
}

.block {
  background-color: white;
  height: 200px;
  border: 2px dotted green;
  border-radius: 4px;
  padding: 20px;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

a:hover {
  color: green;
}

img {
  border-radius: 2px;
}
#a {
  text-decoration: none;
  color: green;
  font-weight: normal;
}

#a:hover {
  color: #ff4081;
}
