<div class="Pad">
  <div class="example-button-row">
    <a mat-stroked-button color="primary" [routerLink]="['/createDish']"
      >Добавить</a
    >
  </div>
  <br />
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">
        {{ element.dishId }}
      </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef>Категория</th>
      <td mat-cell *matCellDef="let element">{{ element.category }}</td>
    </ng-container>

    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef style="width: 350px">
        Изображение
      </th>
      <td mat-cell *matCellDef="let element" style="padding: 15px">
        <img src="{{ element.imageUrl }}" alt="" width="60px" height="50px" />
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Действия</th>
      <td class="example-button-row" mat-cell *matCellDef="let element">
        <a
          mat-stroked-button
          color="primary"
          [routerLink]="['/editDish', element.dishId]"
          >Редактировать</a
        >

        <button
          mat-stroked-button
          color="warn"
          (click)="deleteDish(element.dishId)"
        >
          Удалить
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
