<h3>Добавление нового автора</h3>
<div>
  <label>Имя</label>
  <input type="text" [(ngModel)]="createAuthorModel.name" />
</div>

<form [formGroup]="myForm">
  <div
    formArrayName="books"
    *ngFor="let book of getFormsControls()['controls']; let i = index"
  >
    <div formGroupName="{{ i }}">
      <label>Книга</label>
      <select class="form-control" formControlName="id">
        <option *ngFor="let book of books" [ngValue]="book.bookId">
          {{ book.name }}
        </option>
      </select>
      <button (click)="deleteBook(i)">delete book</button>
    </div>
  </div>

  <div class="form-group">
    <button class="btn info" (click)="setOrderItemArray()">
      Добавить книгу
    </button>
  </div>
</form>

<div>
  <button class="btn info" (click)="createAuthor()">Добавить</button>
</div>

<p>
  <a [routerLink]="['/author']">Назад к списку авторов</a>
</p>

<p>
  <a routerLink="/">На домашнюю страницу</a>
</p>
