<div class="container">
  <div class="row">
    <div>
      <br />
      <em
        ><h1 class="B color-green">{{ recipeDetailModel.name }}</h1>
      </em>
      <br />
      <img
        id="img"
        src="{{ recipeDetailModel.imageUrl }}"
        alt="not found"
        style="float: left; margin: 15px 15px 0px 0px"
      />

      <hr />
      <p>
        <img
          class="img-marg"
          src="https://jaymi-oliver.ru/images/vilka.png"
          width="50"
          height="50"
          alt=""
        />

        <img
          class="img-marg"
          src="https://jaymi-oliver.ru/images/chasi.png"
          alt=""
          width="50"
          height="50"
        />

        <img
          class="img-marg"
          src="https://jaymi-oliver.ru/images/slogno.png"
          alt=""
          width="50"
          height="50"
        />
      </p>
      <p>
        На {{ recipeDetailModel.servingsNumber }} порций
        {{ recipeDetailModel.cookingTime | date: "HH:mm" }} минут
        {{ recipeDetailModel.difficultyLevel }}
      </p>
      <div>
        <p class="line-height">
          <b> {{ recipeDetailModel.content }}</b>
        </p>
      </div>
    </div>
  </div>
</div>
<br />
<div class="container">
  <div>
    <h3 class="color-green"><em> Ингредиенты </em></h3>
    <br />
    <div
      *ngFor="let ingredient of recipeDetailModel.ingredients; let idx = index"
    >
      <em>
        <p>
          <b> {{ ingredient.name }}</b> {{ ingredient.quantity }}
          {{ ingredient.unit }}
        </p>
      </em>
    </div>
  </div>
</div>

<div class="container">
  <div>
    <div
      *ngFor="
        let cookingStage of recipeDetailModel.cookingStages;
        let idx = index
      "
    >
      <p>
        <b class="color-green">
          {{ idx + 1 }}
        </b>

        {{ cookingStage.content }}
      </p>
      <p>
        <img
          *ngIf="cookingStage.imageUrl"
          src="{{ cookingStage.imageUrl }}"
          width="755px"
          height="391px"
        />
      </p>
    </div>

    <em>
      <h2 class="color-green">Пищевая ценность</h2>
    </em>
    <br />
  </div>

  <div *ngFor="let organicMatter of recipeDetailModel.organicMatters">
    <p>
      <em>
        <b>{{ organicMatter.name }} </b> {{ organicMatter.quantity }}
        {{ organicMatter.unit }}
      </em>
    </p>
  </div>
</div>
