<div class="Pad">
  <div style="font-size: 14px">
    <span><a [routerLink]="['']">Главная >> </a> </span>
    <span *ngFor="let dish of dishes">
      <span *ngIf="dish.dishId == recipeDetailModel.dishId">
        <a [routerLink]="['/dish', dish.dishId]">{{ dish.category }} >> </a>
      </span>
    </span>
    <span>
      {{ recipeDetailModel.name }}
    </span>
  </div>

  <br />

  <h2 class="B">{{ recipeDetailModel.name }}</h2>

  <br />
  <div style="height: 430px">
    <mat-icon>restaurant</mat-icon>
    <mat-icon>watch_later</mat-icon>
    <mat-icon>equalizer</mat-icon>

    <img
      id="img"
      src="{{ recipeDetailModel.imageUrl }}"
      alt="not found"
      style="
        float: left;
        margin: 15px 15px 0px 0px;
        width: 308px;
        height: 412px;
      "
    />

    <p>
      На {{ recipeDetailModel.servingsNumber }} порций/
      {{ recipeDetailModel.cookingTime | date: "HH:mm" }} минут/
      {{ recipeDetailModel.difficultyLevel }}
    </p>
    <div>
      <p class="line-height">
        <b> {{ recipeDetailModel.content }}</b>
      </p>
    </div>
  </div>
  <br />
  <div>
    <h2 class="color-green"><em> Ингредиенты </em></h2>

    <div
      *ngFor="let ingredient of recipeDetailModel.ingredients; let idx = index"
    >
      <em>
        <p>
          <b> {{ ingredient.name }}</b> {{ ingredient.quantity }}
          {{ ingredient.unit }}
        </p>
      </em>
    </div>
  </div>
  <br />
  <hr class="new4" />

  <div
    *ngFor="
      let cookingStage of recipeDetailModel.cookingStages;
      let idx = index
    "
  >
    <p>
      <!--   <span
        ><mat-icon id="mat-icon">filter_{{ idx + 1 }}</mat-icon>
      </span>-->

      <b
        class="color-green"
        style="
          padding: 5px;
          margin: 10px;
          border-radius: 15px 0 15px 0;
          background-color: green;
          border: dotted greenyellow 1px;
          color: white;
          text-align: center;
        "
      >
        {{ idx + 1 }}
      </b>

      {{ cookingStage.content }}
    </p>
    <p>
      <img
        *ngIf="cookingStage.imageUrl"
        src="{{ cookingStage.imageUrl }}"
        width="755px"
        height="391px"
      />
    </p>
  </div>
  <hr class="new4" />

  <em>
    <h2 class="color-green">Пищевая ценность</h2>
  </em>

  <div *ngFor="let organicMatter of recipeDetailModel.organicMatters">
    <p>
      <em>
        <b>{{ organicMatter.name }} </b> {{ organicMatter.quantity }}
        {{ organicMatter.unit }}
      </em>
    </p>
  </div>
</div>
