.B {
  text-align: center;
}

.color-green {
  color: green;
}

.block {
  width: 600px;
}

.img-marg {
  margin: 30px;
}

#img {
  border: 4px solid rgb(73, 172, 73);
}

.line-height {
  line-height: 45px;
}

.Pad {
  padding: 50px 100px 50px 250px;
}
mat-icon {
  font-size: 40px;
  width: 40px;
  height: 40px;
  padding: 25px;
  color: green;

  margin: 9px;
}

hr.new4 {
  border: 2px dotted green;
}
