<div class="Pad">
  <div style="font-size: 14px">
    <span><a [routerLink]="['']">Главная >> </a> </span>
    <span>
      {{ dishDetailModel.category }}
    </span>
  </div>

  <br />
  <h3>
    <a [routerLink]="['/recipeLibrary']">Рецепты от Джейми Оливера / </a>
    <span style="color: green">{{ dishDetailModel.category }}</span>
  </h3>
  <br />

  <div
    *ngFor="let recipe of dishDetailModel.recipes; let idx = index"
    style="height: 200px; width: 900px"
  >
    <h4 style="text-align: right; color: green">
      {{ recipe.name }}
    </h4>

    <hr />

    <div>
      <img
        src="{{ recipe.imageUrl }}"
        alt=""
        style="float: left; margin: 0px 15px 0px 0px"
        width="150px"
        height="170px"
      />{{ recipe.content }}
    </div>
    <a [routerLink]="['/recipe', recipe.recipeId]"
      ><button mat-raised-button color="accent">Подробнее...</button></a
    >
  </div>
</div>
