table {
  width: 100%;
}

.content {
  display: block;
  margin: 82px auto 32px;
  padding: 0 16px;
  /* max-width: 960px;*/
  flex-direction: column;
  align-items: center;
}

.C {
  padding: 50px 100px 50px 250px;
}
