<div class="Pad">
  <h3>Добавление нового эпизода</h3>
  <br />

  <form
    class="example-form"
    [formGroup]="episodeForm"
    (ngSubmit)="createEpisode()"
  >
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Название</mat-label>
      <br />
      <input
        type="text"
        matInput
        formControlName="name"
        [(ngModel)]="createEpisodeModel.name"
        placeholder="Название"
      />
      <mat-error *ngIf="episodeForm.controls['name'].hasError('required')">
        Не указано название эпизода</mat-error
      >
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Картинка</mat-label>
      <br />
      <input
        type="text"
        matInput
        formControlName="imageUrl"
        [(ngModel)]="createEpisodeModel.imageUrl"
        placeholder="УРЛ картинки"
      />
      <mat-error *ngIf="episodeForm.controls['imageUrl'].hasError('required')">
        Не указан УРЛ картинки
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Видео</mat-label>
      <br />
      <input
        type="text"
        matInput
        formControlName="videoUrl"
        [(ngModel)]="createEpisodeModel.videoUrl"
        placeholder="УРЛ видео"
      />
      <mat-error *ngIf="episodeForm.controls['videoUrl'].hasError('required')">
        Не указан УРЛ видео
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 497px">
      <mat-label>Название кулинарного канала</mat-label>
      <br />
      <mat-select
        formControlName="culinaryChannelId"
        [(ngModel)]="createEpisodeModel.culinaryChannelId"
        placeholder="Кулинарный канал"
      >
        <mat-option
          *ngFor="let culinaryChannel of culinaryChannels"
          [value]="culinaryChannel.culinaryChannelId"
        >
          {{ culinaryChannel.name }}
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="episodeForm.controls['culinaryChannelId'].hasError('required')"
      >
        Не указано название кулинарного канала
      </mat-error>
    </mat-form-field>
    <br /><br />
    <div class="example-button-row">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="episodeForm.invalid"
      >
        Добавить
      </button>
    </div>
  </form>

  <br />

  <p>
    <a [routerLink]="['/episode']">Назад к списку эпизодов</a>
  </p>
  <p>
    <a routerLink="/">На домашнюю страницу</a>
  </p>
</div>
