<div class="Pad">
  <form class="example-form" [formGroup]="registerForm" (ngSubmit)="register()">
    <h4 class="textAlignCenter">Регистрация</h4>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Имя пользователя</mat-label>
      <br />
      <input
        type="text"
        matInput
        formControlName="username"
        placeholder="Имя пользователя"
      />
      <mat-error *ngIf="username?.hasError('required') && username?.touched">
        Это поле обязательно к заполнению!
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Эл. адрес</mat-label>
      <br />
      <input
        type="email"
        matInput
        formControlName="email"
        placeholder="Эл. адрес"
      />
      <mat-error *ngIf="email?.hasError('required') && email?.touched">
        Это поле обязательно к заполнению!
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Пароль</mat-label>
      <br />
      <input
        type="password"
        matInput
        formControlName="password"
        placeholder="Пароль"
      />

      <mat-error *ngIf="password?.hasError('required')">
        Это поле обязательно к заполнению!
      </mat-error>
    </mat-form-field>

    <div class="example-button-row">
      <button mat-raised-button color="accent" type="submit">
        Зарегистрироваться
      </button>
    </div>
  </form>
</div>
