<div class="set-padding">
  <h2>Джейми Оливер. Кулинарный канал</h2>

  <div>
    <img
      src="https://jaymi-oliver.ru/images/oliver27.jpg"
      alt=""
      style="float: right; margin: 0px 0px 0px 15px"
    />
    Популярный британский телеведущий начинает трансляцию своего канала на
    видеохостинге Youtube.
  </div>
  <div>
    Здесь Джейми Оливер занимается тем, что любит больше всего – готовит вкусную
    пищу и дает простые советы своим зрителям.
  </div>
  <div>
    В этом ему будут помогать его верные друзья – его учитель и наставник
    Дженнаро Контальдо и основатель самой крупной итальянской сети ресторанов в
    Англии - Антонио Карлуччо.
  </div>
  <div>
    Кулинарный канал Джейми Оливера под названием «Jamie Oliver's Food Tube»
    стал одним из самых известных в Европе.
  </div>
  <div>Его постоянными подписчиками уже стали более 1 200 000 человек.</div>
  <div>
    Этот канал получил уникальные права на создание собственного телевизионного
    контента на сайте Youtube.
  </div>
  <div>
    Авторы постоянно выкладывают сюда новые выпуски шоу, мы постараемся не
    отставать от них и будем радовать вас новыми сюжетами на русском языке.
  </div>
  <div>Обычная продолжительность каждой серии составляет от 2 до 8 минут.</div>

  <div *ngFor="let episode of episodes; let idx = index">
    <h3 class="itemVideoCaption">
      <a [routerLink]="['/episode', episode.episodeId]"
        >Кулинарный канал Джейми Оливера. {{ episode.name }}</a
      >
    </h3>
    <img
      src="{{ episode.imageUrl }}"
      alt=""
      style="width: 300px; height: 179px"
    />
    <br />
  </div>
</div>
