<div class="Pad">
  <h3>Изменение ресторана</h3>
  <br />
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Название</mat-label>
      <br />
      <input
        type="text"
        matInput
        [formControl]="name"
        [(ngModel)]="updateRestaurantModel.name"
        placeholder="Название"
      />
      <mat-error *ngIf="name.hasError('required')">
        Не указано название ресторана</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 497px">
      <mat-label>Адрес</mat-label>
      <br />
      <mat-select
        [formControl]="addressId"
        [(ngModel)]="updateRestaurantModel.addressId"
        placeholder="Адрес"
      >
        <mat-option
          *ngFor="let address of addresses"
          [value]="address.addressId"
        >
          {{ address.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="addressId.hasError('required')">
        Не указан aдрес
      </mat-error>
    </mat-form-field>
  </form>

  <div class="example-button-row">
    <button mat-raised-button color="primary" (click)="updateRestaurant()">
      Обновить
    </button>
  </div>
  <br />

  <p>
    <a [routerLink]="['/restaurant']">Назад к списку ресторанов</a>
  </p>

  <p>
    <a routerLink="/">На домашнюю страницу</a>
  </p>
</div>
