<div class="set-padding">
  <div class="example-button-row">
    <a mat-stroked-button color="primary" [routerLink]="['/createTelephone']"
      >Добавить</a
    >
  </div>
  <br />
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">{{ element.telephoneId }}</td>
    </ng-container>

    <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef style="width: 650px">Номер</th>
      <td
        mat-cell
        *matCellDef="let element"
        style="padding: 10px; text-align: justify"
      >
        {{ element.number }}
      </td>
    </ng-container>

    <ng-container matColumnDef="restaurantName">
      <th mat-header-cell *matHeaderCellDef>Название ресторана</th>
      <td mat-cell *matCellDef="let element">{{ element.restaurantName }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Действия</th>
      <td class="example-button-row" mat-cell *matCellDef="let element">
        <a
          mat-stroked-button
          color="primary"
          [routerLink]="['/editTelephone', element.telephoneId]"
          >Редактировать</a
        >

        <button
          mat-stroked-button
          color="warn"
          (click)="deleteTelephone(element.telephoneId)"
        >
          Удалить
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<p>
  <a routerLink="/">Home</a>
</p>
