<div class="Pad">
  <h3>Добавление нового этапа приготовления</h3>
  <br />

  <form
    class="example-form"
    [formGroup]="cookingStageForm"
    (ngSubmit)="createCookingStage()"
  >
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Содержание</mat-label>
      <br />
      <input
        type="text"
        matInput
        formControlName="content"
        [(ngModel)]="createCookingStageModel.content"
        placeholder="Содержание"
      />
      <mat-error
        *ngIf="cookingStageForm.controls['content'].hasError('required')"
      >
        Не указано содержание</mat-error
      >
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Картинка</mat-label>
      <br />
      <input
        type="text"
        matInput
        formControlName="imageUrl"
        [(ngModel)]="createCookingStageModel.imageUrl"
        placeholder="Имя"
      />
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 500px">
      <mat-label>Рецепт</mat-label>
      <br />
      <mat-select
        formControlName="recipeId"
        [(ngModel)]="createCookingStageModel.recipeId"
        placeholder="Рецепт"
      >
        <mat-option *ngFor="let recipe of recipes" [value]="recipe.recipeId">
          {{ recipe.name }}
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="cookingStageForm.controls['recipeId'].hasError('required')"
      >
        Не указано название рецепта
      </mat-error>
    </mat-form-field>
    <br />
    <br />
    <div class="example-button-row">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="cookingStageForm.invalid"
      >
        Добавить
      </button>
    </div>
  </form>

  <br />

  <p>
    <a [routerLink]="['/cookingStage']"
      >Назад на страницу с этапами приготовления</a
    >
  </p>

  <p>
    <a routerLink="/">На домашнюю страницу</a>
  </p>
</div>
