<div class="Pad">
  <h3>Добавление нового этапа приготовления</h3>
  <br />
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Содержание</mat-label>
      <br />
      <input
        type="text"
        matInput
        [formControl]="content"
        [(ngModel)]="createCookingStageModel.content"
        placeholder="Содержание"
      />
      <mat-error *ngIf="content.hasError('required')">
        Не указано содержание</mat-error
      >
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Картинка</mat-label>
      <br />
      <input
        type="text"
        matInput
        [formControl]="imageUrl"
        [(ngModel)]="createCookingStageModel.imageUrl"
        placeholder="Имя"
      />
      <mat-error *ngIf="imageUrl.hasError('required')">
        Не указан УРЛ картинки
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Рецепт</mat-label>
      <br />
      <mat-select
        [formControl]="recipeId"
        [(ngModel)]="createCookingStageModel.recipeId"
        placeholder="Рецепт"
      >
        <mat-option *ngFor="let recipe of recipes" [value]="recipe.recipeId">
          {{ recipe.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="recipeId.hasError('required')">
        Не указано название рецепта
      </mat-error>
    </mat-form-field>
  </form>

  <div class="example-button-row">
    <button mat-raised-button color="primary" (click)="createCookingStage()">
      Добавить
    </button>
  </div>
  <br />

  <p>
    <a [routerLink]="['/cookingStage']"
      >Назад на страницу с этапами приготовления</a
    >
  </p>

  <p>
    <a routerLink="/">На домашнюю страницу</a>
  </p>
</div>
