<div class="Pad">
  <h3>Добавление нового рецепта</h3>
  <br />
  <form [formGroup]="myForm" class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Название</mat-label>
      <br />
      <input
        type="text"
        matInput
        formControlName="name"
        [(ngModel)]="createRecipeModel.name"
        placeholder="Название"
      />
      <mat-error *ngIf="myForm.controls['name'].hasError('required')">
        Не указано название рецепта</mat-error
      >
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Количество порций</mat-label>
      <br />
      <input
        type="number"
        matInput
        formControlName="servingsNumber"
        [(ngModel)]="createRecipeModel.servingsNumber"
        placeholder="Количество порций"
      />
      <mat-error *ngIf="myForm.controls['servingsNumber'].hasError('required')">
        Не указано количество порций</mat-error
      >
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>УРЛ картинки</mat-label>
      <br />
      <input
        type="text"
        matInput
        formControlName="imageUrl"
        [(ngModel)]="createRecipeModel.imageUrl"
        placeholder="УРЛ картинки"
      />
      <mat-error *ngIf="myForm.controls['imageUrl'].hasError('required')">
        Не указан УРЛ картинки</mat-error
      >
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Время готовки</mat-label>
      <br />
      <input
        type="time"
        matInput
        formControlName="cookingTime"
        [(ngModel)]="createRecipeModel.cookingTime"
        placeholder="Время готовки"
      />
      <mat-error
        *ngIf="
          myForm.controls['cookingTime'].hasError('required') ||
          myForm.controls['cookingTime'].touched
        "
      >
        Не указано время готовки</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 500px">
      <mat-label>Уровень сложности</mat-label>
      <br />
      <mat-select
        formControlName="difficultyLevel"
        [(ngModel)]="createRecipeModel.difficultyLevel"
        placeholder="Уровень сложности"
      >
        <mat-option
          *ngFor="let difficultyLevel of difficultyLevels"
          [value]="difficultyLevel"
        >
          {{ difficultyLevel }}
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="myForm.controls['difficultyLevel'].hasError('required')"
      >
        Не указан уровень сложности
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Содержание</mat-label>
      <br />
      <input
        type="text"
        matInput
        formControlName="content"
        [(ngModel)]="createRecipeModel.content"
        placeholder="Содержание"
      />
      <mat-error *ngIf="myForm.controls['content'].hasError('required')">
        Не указано содержание</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 500px">
      <mat-label>Автор</mat-label>
      <br />
      <mat-select
        formControlName="authorId"
        [(ngModel)]="createRecipeModel.authorId"
        placeholder="Автор"
      >
        <mat-option *ngFor="let author of authors" [value]="author.authorId">
          {{ author.name }}
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="myForm.controls['difficultyLevel'].hasError('required')"
      >
        Не указан автор рецепта
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 500px">
      <mat-label>Название книги</mat-label>
      <br />
      <mat-select
        formControlName="bookId"
        [(ngModel)]="createRecipeModel.bookId"
        placeholder="Название книги"
      >
        <mat-option *ngFor="let book of books" [value]="book.bookId">
          {{ book.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="myForm.controls['bookId'].hasError('required')">
        Не указано название книги
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 500px">
      <mat-label>Категория блюда</mat-label>
      <br />
      <mat-select
        formControlName="dishId"
        [(ngModel)]="createRecipeModel.dishId"
        placeholder="Категория блюда"
      >
        <mat-option *ngFor="let dish of dishes" [value]="dish.dishId">
          {{ dish.category }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="myForm.controls['dishId'].hasError('required')">
        Не указано категория блюда
      </mat-error>
    </mat-form-field>

    <h3>Добавление ингредиентов</h3>
    <br />
    <div
      formArrayName="ingredients"
      *ngFor="
        let ingredient of getIngredientsFormsControls()['controls'];
        let i = index
      "
    >
      <div [formGroupName]="i">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Название</mat-label>
          <br />
          <input
            type="text"
            matInput
            formControlName="ingredientName"
            [(ngModel)]="createRecipeModel.ingredients[i].name"
            placeholder="Название"
          />

          <mat-error
            *ngIf="
              getIngredientsFormsControls()
                .controls[i].get('ingredientName')
                ?.hasError('required')
            "
          >
            Не указано название ингредиента
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 500px">
          <mat-label>Единица измерения</mat-label>
          <br />
          <mat-select
            formControlName="ingredientUnit"
            [(ngModel)]="createRecipeModel.ingredients[i].unit"
            placeholder="Категория блюда"
          >
            <mat-option *ngFor="let unit of units" [value]="unit">
              {{ unit }}
            </mat-option>
          </mat-select>

          <mat-error
            *ngIf="
              getIngredientsFormsControls()
                .controls[i].get('ingredientUnit')
                ?.hasError('required')
            "
          >
            Не указана ед. изм ингредиента
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Количество</mat-label>
          <br />
          <input
            type="number"
            matInput
            formControlName="ingredientQuantity"
            [(ngModel)]="createRecipeModel.ingredients[i].quantity"
            placeholder="Количество"
          />

          <mat-error
            *ngIf="
              getIngredientsFormsControls()
                .controls[i].get('ingredientQuantity')
                ?.hasError('required')
            "
          >
            Не указано количество ингредиента
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <br />

    <div class="form-group">
      <button mat-raised-button color="primary" (click)="addIngredient()">
        Добавить ингредиент
      </button>
    </div>

    <h3>Добавление органических материй</h3>
    <br />
    <div
      formArrayName="organicMatters"
      *ngFor="
        let organicMatter of getOrganicMattersFormsControls()['controls'];
        let i = index
      "
    >
      <div [formGroupName]="i">
        <mat-form-field appearance="fill" style="width: 500px">
          <mat-label>Название</mat-label>
          <br />
          <mat-select
            formControlName="organicMatterName"
            [(ngModel)]="createRecipeModel.organicMatters[i].name"
            placeholder="Название"
          >
            <mat-option
              *ngFor="let organicMatter of organicMatters"
              [value]="organicMatter"
            >
              {{ organicMatter }}
            </mat-option>
          </mat-select>

          <mat-error
            *ngIf="
              getOrganicMattersFormsControls()
                .controls[i].get('organicMatterName')
                ?.hasError('required')
            "
          >
            Не указано название органической материи
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 500px">
          <mat-label>Единица измерения</mat-label>
          <br />
          <mat-select
            formControlName="organicMatterUnit"
            [(ngModel)]="createRecipeModel.organicMatters[i].unit"
            placeholder="Единица измерения"
          >
            <mat-option *ngFor="let unit of units" [value]="unit">
              {{ unit }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="
              getOrganicMattersFormsControls()
                .controls[i].get('organicMatterUnit')
                ?.hasError('required')
            "
          >
            Не указана ед. изм органической материи
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Количество</mat-label>
          <br />
          <input
            type="number"
            matInput
            formControlName="organicMatterQuantity"
            [(ngModel)]="createRecipeModel.organicMatters[i].quantity"
            placeholder="Количество"
          />
          <mat-error
            *ngIf="
              getOrganicMattersFormsControls()
                .controls[i].get('organicMatterQuantity')
                ?.hasError('required')
            "
          >
            Не указано количество органической материи</mat-error
          >
        </mat-form-field>
      </div>
    </div>
    <br />
    <div class="form-group">
      <button mat-raised-button color="primary" (click)="addOrganicMatter()">
        Добавить органическую материю
      </button>
    </div>
  </form>
  <br />
  <div class="example-button-row">
    <button
      mat-raised-button
      color="primary"
      [disabled]="myForm.invalid"
      (click)="createRecipe()"
    >
      Создать
    </button>
  </div>
  <br />
  <p>
    <a [routerLink]="['/recipe']">Назад к списку рецептов</a>
  </p>

  <p>
    <a routerLink="/">На домашнюю страницу</a>
  </p>
</div>
