<div class="Pad">
  <h3>Добавление новой книги</h3>
  <br />
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Название</mat-label>
      <br />
      <input
        type="text"
        matInput
        [formControl]="name"
        [(ngModel)]="createBookModel.name"
        placeholder="Название"
      />
      <mat-error *ngIf="name.hasError('required')">
        Не указано название книги</mat-error
      >
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label> Год создания</mat-label>
      <br />
      <input
        type="number"
        matInput
        [formControl]="creationYear"
        [(ngModel)]="createBookModel.creationYear"
        placeholder="
год создания"
      />
      <mat-error *ngIf="creationYear.hasError('required')">
        Не указан год создания книги
      </mat-error>

      <mat-error *ngIf="creationYear.hasError('min')">
        Год создания не может быть менише чем 1990 г.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Описание</mat-label>
      <br />
      <input
        type="text"
        matInput
        [formControl]="description"
        [(ngModel)]="createBookModel.description"
        placeholder="Описание"
      />
      <mat-error *ngIf="description.hasError('required')">
        Не указано описание
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 497px">
      <mat-label>Автор</mat-label>
      <br />
      <mat-select
        [formControl]="authorId"
        [(ngModel)]="createBookModel.authorId"
        placeholder="Автор"
      >
        <mat-option *ngFor="let author of authors" [value]="author.authorId">
          {{ author.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="authorId.hasError('required')">
        Не указан автор книги
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Картинка</mat-label>
      <br />
      <input
        type="text"
        matInput
        [formControl]="imageUrl"
        [(ngModel)]="createBookModel.imageUrl"
        placeholder="Имя"
      />
      <mat-error *ngIf="imageUrl.hasError('required')">
        Не указан УРЛ картинки
      </mat-error>
    </mat-form-field>
  </form>

  <div class="example-button-row">
    <button mat-raised-button color="primary" (click)="createBook()">
      Добавить
    </button>
  </div>
  <br />

  <p>
    <a [routerLink]="['/book']">Назад к списку книг</a>
  </p>

  <p>
    <a routerLink="/">На домашнюю страницу</a>
  </p>
</div>
