<div class="Pad d-center">
  <form class="example-form" [formGroup]="loginForm" (ngSubmit)="login()">
    <h4 class="textAlignCenter">Авторизация</h4>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Логин</mat-label>
      <br />
      <input
        type="text"
        matInput
        formControlName="username"
        placeholder="Логин"
      />
      <mat-error *ngIf="username?.hasError('required') && username?.touched">
        Это поле обязательно к заполнению!
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Пароль</mat-label>
      <br />
      <input
        type="password"
        matInput
        formControlName="password"
        placeholder="Пароль"
      />

      <mat-error *ngIf="password?.hasError('required')">
        Это поле обязательно к заполнению!
      </mat-error>
    </mat-form-field>

    <div class="example-button-row d-center">
      <button mat-raised-button color="accent" type="submit">Войти</button>
      <button mat-raised-button type="button" [routerLink]="['/register']">
        Зарегистрироваться
      </button>
    </div>
  </form>
</div>
