<h3>Добавление нового телефона</h3>
<div>
  <label>Номер телефона</label>
  <input type="text" [(ngModel)]="createTelephoneModel.number" />
</div>

<div>
  <label>Название ресторана</label>
  <select [(ngModel)]="createTelephoneModel.restaurantId" class="form-control">
    <option
      *ngFor="let restaurant of restaurants"
      [ngValue]="restaurant.restaurantId"
    >
      {{ restaurant.name }}
    </option>
  </select>
</div>

<div>
  <button class="btn info" (click)="createTelephone()">Добавить</button>
</div>

<p>
  <a [routerLink]="['/telephone']">Назад к списку телефонов</a>
</p>

<p>
  <a routerLink="/">На домашнюю страницу</a>
</p>
