<div class="Pad">
  <h3>Добавление нового телефона</h3>
  <br />
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Номер телефона</mat-label>
      <br />
      <input
        type="text"
        matInput
        [formControl]="number"
        [(ngModel)]="createTelephoneModel.number"
        placeholder="Номер телефона"
      />
      <mat-error *ngIf="number.hasError('required')">
        Не указан номер телефона</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 497px">
      <mat-label>Название ресторана</mat-label>
      <br />
      <mat-select
        [formControl]="restaurantId"
        [(ngModel)]="createTelephoneModel.restaurantId"
        placeholder="Название ресторана"
      >
        <mat-option
          *ngFor="let restaurant of restaurants"
          [value]="restaurant.restaurantId"
        >
          {{ restaurant.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="restaurantId.hasError('required')">
        Не указано название ресторана
      </mat-error>
    </mat-form-field>
  </form>

  <div class="example-button-row">
    <button mat-raised-button color="primary" (click)="createTelephone()">
      Добавить
    </button>
  </div>
  <br />

  <p>
    <a [routerLink]="['/telephone']">Назад к списку телефонов</a>
  </p>

  <p>
    <a routerLink="/">На домашнюю страницу</a>
  </p>
</div>
