<div class="Pad">
  <h3>Добавление нового ресторана</h3>
  <br />
  <form
    class="example-form"
    [formGroup]="restaurantForm"
    (ngSubmit)="createRestaurant()"
  >
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Название</mat-label>
      <br />
      <input
        type="text"
        matInput
        formControlName="name"
        [(ngModel)]="createRestaurantModel.name"
        placeholder="Название"
      />
      <mat-error *ngIf="restaurantForm.controls['name'].hasError('required')">
        Не указано название ресторана</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 497px">
      <mat-label>Адрес</mat-label>
      <br />
      <mat-select
        formControlName="addressId"
        [(ngModel)]="createRestaurantModel.addressId"
        placeholder="Адрес"
      >
        <mat-option
          *ngFor="let address of addresses"
          [value]="address.addressId"
        >
          {{ address.name }}
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="restaurantForm.controls['addressId'].hasError('required')"
      >
        Не указан aдрес
      </mat-error>
    </mat-form-field>
    <br /><br />
    <div class="example-button-row">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="restaurantForm.invalid"
      >
        Добавить
      </button>
    </div>
  </form>

  <br />

  <p>
    <a [routerLink]="['/restaurant']">Назад к списку ресторанов</a>
  </p>

  <p>
    <a routerLink="/">На домашнюю страницу</a>
  </p>
</div>
