<div class="Pad">
  <h2>Рецепты от Джейми Оливера</h2>
  <br />

  <div>
    Джейми Оливер, рецепты которого представляются образцом утилитарности и
    элегантности, выбирает более доступные ингредиенты, помогая очень сильно
    сократить время готовки. Именно благодаря своим великолепным рецептам Джейми
    Оливер стал столь известен во всем мире. Они просты и оригинальны. Этого и
    хочет достичь Джейми Оливер, рецепты которого могут быть использованы
    абсолютно любым, пусть даже самым неподготовленным, человеком. Само собой
    при условии, что в результате выйдет полезное и вкуснейшее блюдо, настоящий
    шедевр, которым не стыдно похвастать перед гостями.
  </div>
  <br /><br />

  <mat-grid-list cols="4" rowHeight="300px" gutterSize="20px">
    <mat-grid-tile
      *ngFor="let dish of dishes; let idx = index"
      class="hover-image-scale"
    >
      <a [routerLink]="['/dish', dish.dishId]"
        ><img
          src="{{ dish.imageUrl }}"
          alt="not found"
          class="hover-image-scale"
      /></a>
      <!--   <a [routerLink]="['/dish', dish.dishId]">
        <h3>{{ dish.category }}</h3>
      </a>-->

      <mat-grid-tile-footer>
        <h3>{{ dish.category }}</h3>
      </mat-grid-tile-footer>
    </mat-grid-tile>
    <!--   <mat-grid-tile *ngFor="let dish of dishes; let idx = index"
      ><a [routerLink]="['/dish', dish.dishId]">
        <h3>{{ dish.category }}</h3>
      </a></mat-grid-tile
    >-->
  </mat-grid-list>
</div>
