<div>
  <button class="btn info">
    <a [routerLink]="['/createCulinaryChannel']">Добавить</a>
  </button>
</div>
<table>
  <thead>
    <tr>
      <td>Нр.</td>
      <td>Название</td>
      <td>Содержание</td>
      <td>Действия</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let culinaryChannel of culinaryChannels; let idx = index">
      <td>{{ idx + 1 }}</td>
      <td>{{ culinaryChannel.name }}</td>
      <td class="text-align-justify">{{ culinaryChannel.content }}</td>
      <td>
        <a
          class="btn info"
          [routerLink]="[
            '/editCulinaryChannel',
            culinaryChannel.culinaryChannelId
          ]"
          >Редактировать</a
        >
        <button
          class="btn info"
          (click)="deleteCulinaryChannel(culinaryChannel.culinaryChannelId)"
        >
          Удалить
        </button>
      </td>
    </tr>
  </tbody>
</table>

<p>
  <a routerLink="/">На домашнюю страницу</a>
</p>
